---
# tasks file for qedu-user-create
- name: Linux | Create User
  user:
    name: "{{ item.username }}"
    comment: "{{ item.username }}"
    state: "{{ item.state | default('present') }}"
    generate_ssh_key: yes
    ssh_key_bits: 2048
    ssh_key_file: /home/talitabp/.ssh/{{item.username}}
  with_items: "{{ list }}"

- name: Linux | Create authorized_keys
  file:
    path:  /home/talitabp/.ssh/authorized_keys
    state: touch
    mode: "u=rw,g=r,o=r"


- name: Linux | Set content for authorized_keys
  copy:
    content: "/home/talitabp/.ssh/'{{ item.username }}'.pub"
    dest: "/home/talitabp/.ssh/authorized_keys"
  with_items: "{{ list }}"
  ignore_errors: yes
